Django==4.2.18
pillow==10.4.0
gunicorn==22.0.0
mysqlclient==2.2.4
django-phonenumber-field==8.0.0 # add international phone number field
phonenumbers==8.13.40 # phone number from google official 
whitenoise==6.7.0