{% extends "common/auth_layout.html" %}

{% block title %}
Login Page
{% endblock title %}


{% block auth_form %}
<div class="card mb-3">

    <div class="card-body">

      <div class="card-body text-center">
        <h5 class="card-title ">Welcome, have a Good Day!</h5>
        {% if attendance %}
          <div class="btn btn-outline-success">{{attendance}}</div>
        {% endif %}
        {% comment %} <a href="{% url 'MarkAttendance' %}" type="button" class="btn btn-outline-success">Clock In</a>
        <a href="{% url 'MarkAttendance' %}" type="button" class="btn btn-outline-danger">Clock Out</a> {% endcomment %}

      </div>  

      <div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
        <p class="text-center small">Enter your email & password to login</p>
      </div>

      <form class="row g-3 needs-validation" novalidate method="POST">
        {% csrf_token %}

        <div class="col-12">
          <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            {{ form.email }}
            <div class="invalid-feedback">Please enter your email.</div>
          </div>
        </div>

        <div class="col-12">
          <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
          {{ form.password }}
          <div class="invalid-feedback">Please enter your password!</div>
        </div>

        {% comment %} <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
        </div> {% endcomment %}
        <div class="col-12">
          <button class="btn btn-primary w-100" type="submit">Login</button>
        </div>
        <div class="col-12">
          <p class="small mb-0">Don't have account? <a href="{% url 'Register' %}">Create an account</a></p>
          
        </div>
        
      </form>


    </div>
  </div>

  <script>
    {% comment %} fetch("{% url 'MarkAttendance' %}") {% endcomment %}
  </script>
{% endblock auth_form %}


